{%
  set classes = [
    'node',
    'node-detail',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

<!-- Start Display article for teaser page -->
{% if teaser == true %} 
  <div class="dh-container portfolio-v1 isotope-item margin-bottom-30 grid">      
    {{ content.field_image}}
    <div class="portfolio-content dh-overlay">
        <div class="content">
           <div class="content-inner">
              <div class="title"> 
                 <a href="{{ url }}" rel="bookmark">{{ label }}</a>
              </div>  
              <div class="category">
                 {{ content.field_portfolio_tags }}
              </div>  
           </div>    
        </div>
    </div>
  </div>

<!-- End Display article for teaser page -->

{% else %}
<!-- Start Display article for detail page -->

<article{{ attributes.addClass(classes) }}>
  <div class="post-block">
      
    <div class="post-thumbnail">
      <div class="thumbnail-image">
        {{ content.field_service_image }}
      </div>
    </div>

    <div class="post-content">
      {{ title_prefix }}
         <h1{{ title_attributes.addClass('post-title') }}>{{ label }}</h1>
      {{ title_suffix }}         
      <div class="post-meta">
        <span class="post-created"> {{date }} </span> /
        <span class="post-comment"> 
          <a href="{{url}}/#comments">{{ comment_count }} Comments</a>
        </span>
      </div>
      
      {% if display_submitted %}
        <div class="node__meta hidden">
          {{ author_picture }}
          <span{{ author_attributes }}>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          </span>
          {{ metadata }}
        </div>
      {% endif %}

      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_service_image', 'comment') }}
      </div>
      <div id="node-single-comment">
        <div id="comments">
          {{ content.comment }}
        </div>  
      </div>

    </div>

  </div>

</article>

<!-- End Display article for detail page -->
{% endif %}