<article class="team-node-v2">      
   <div class="team-content row">
      <div class="col-sm-5 col-xs-12">
          <div class="team-image image text-center">{{ fields.field_team_image.content }}</div> 
      </div>  
      <div class="col-sm-7 col-xs-12">
         <div class="team-node-content">
            <div class="team-body">{{ fields.body.content }}</div>
            <div class="socials">
               {% if fields.field_team_facebook.content|striptags|trim %}
                  <a href="{{ fields.field_team_facebook.content|striptags|trim }}"><i class="fa fa-facebook"></i></a>
               {% endif %} 
               {% if fields.field_team_google.content|striptags|trim %}
                  <a href="{{ fields.field_team_google.content|striptags|trim }}"><i class="fa fa-google-plus"></i></a>
               {% endif %} 
               {% if fields.field_team_linkedin.content|striptags|trim %}
                  <a href="{{ fields.field_team_linkedin.content|striptags|trim }}"><i class="fa fa-linkedin"></i></a>
               {% endif %} 
               {% if fields.field_team_twitter.content|striptags|trim %}
                  <a href="{{ fields.field_team_twitter.content|striptags|trim }}s"><i class="fa fa-twitter"></i></a>
               {% endif %}  
            </div>
            <div class="team-name">{{ fields.field_team_name.content|striptags|trim }}</div>
            <div class="team-position text-center">{{ fields.field_team_position.content }}</div> 
         </div>   
      </div>   
   </div>
</article> 