<article class="team-node-v1">      
   <div class="team-content">
      <div class="team-image image text-center">
         {{ fields.field_team_image.content }}
         <div class="team-socials">
            {% if fields.field_team_facebook.content|striptags|trim %}
               <a href="{{ fields.field_team_facebook.content|striptags|trim }}"><i class="fa fa-facebook"></i></a>
            {% endif %} 
            {% if fields.field_team_google.content|striptags|trim %}
               <a href="{{ fields.field_team_google.content|striptags|trim }}"><i class="fa fa-google-plus"></i></a>
            {% endif %} 
            {% if fields.field_team_linkedin.content|striptags|trim %}
               <a href="{{ fields.field_team_linkedin.content|striptags|trim }}"><i class="fa fa-linkedin"></i></a>
            {% endif %} 
            {% if fields.field_team_twitter.content|striptags|trim %}
               <a href="{{ fields.field_team_twitter.content|striptags|trim }}s"><i class="fa fa-twitter"></i></a>
            {% endif %}  
         </div> 
      </div> 
      <div class="team-info">
         <div class="team-name">{{ fields.field_team_name.content|striptags|trim }}</div>
         <div class="team-position text-center">{{ fields.field_team_position.content }}</div>
      </div>
   </div>
</article>